@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background: url('https://wallpaperaccess.com/full/279547.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div>
    <br/>
    <div class="d-flex justify-content-center text-light">
        <h1>Home Page</h1>
    </div>
</div>
